<div class="topnav">
  <div class="nav-img">
    <img src="images/plus.png" alt="plus sign" height="30px" />
  </div>

  <div class="nav-content">
    <a class="active" href="#home">T@sks</a>
    <a href="#about">Dashboard</a>
    <a href="#contact">Projects</a>

    <div class="search">
      <input
        type="text"
        class="search-class"
        name="search"
        placeholder="Search..."
      />
    </div>

  </div>

</div>

<div class="dash-container">
  <div id="user">
    <h2>Welcome, User!</h2>
  </div>

  <div id="proj-list">
    <h3>My Projects</h3>

    <div class="proj-card">
      <h5>Project Title</h5>
    </div>

  </div>

  <div id="tasks-asgn">
    <h3>Tasks Assigned to Me</h3>

    <div id="my-to-do" class="task-type-container">
      <h4>To Do</h4>
      <div class="task-card-container">
        <div class="task-card">
          <h5>Task Title</h5>
          <p class="task-test">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="user-cat">
            <span class="badge">Category</span>
            <span class="badge">User Assigned</span>
          </div>
        </div>
        <div class="task-card">
          <h5>Task Title</h5>
          <p class="task-test">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="user-cat">
            <span class="badge">Category</span>
            <span class="badge">User Assigned</span>
          </div>
        </div>
      </div>

    </div>

    <div id="my-in-progress" class="task-type-container">
      <h4>In Progress</h4>
      <div class="task-card-container">
        <div class="task-card">
          <h5>Task Title</h5>
          <p class="task-test">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="user-cat">
            <span class="badge">Category</span>
            <span class="badge">User Assigned</span>
          </div>
        </div>
        <div class="task-card">
          <h5>Task Title</h5>
          <p class="task-test">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="user-cat">
            <span class="badge">Category</span>
            <span class="badge">User Assigned</span>
          </div>
        </div>
      </div>

    </div>

    <div id="my-completed" class="task-type-container">
      <h4>Completed</h4>
      <div class="task-card-container">
        <div class="task-card">
          <h5>Task Title</h5>
          <p class="task-test">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="user-cat">
            <span class="badge">Category</span>
            <span class="badge">User Assigned</span>
          </div>
        </div>
        <div class="task-card">
          <h5>Task Title</h5>
          <p class="task-test">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="user-cat">
            <span class="badge">Category</span>
            <span class="badge">User Assigned</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="footer">
  <a
    href="https://www.flaticon.com/free-icons/project"
    title="project icons"
  >Project icons created by Freepik - Flaticon</a>
</div>