
{{!-- {{#each card}} --}}
<div class="task-card">
  <h5>{{title}}</h5>
  <p class="task-test">{{description}}</p>
  <div class="user-cat">
    <span class="badge">{{category}}</span>
    <span class="badge">{{assignedUser}}</span>
  </div>
</div>
{{!-- {{/each}} --}}

