<div class="topnav">
  <div class="nav-img">
      <img src="images/plus.png" alt="plus sign" height="30px">
  </div>

  <div class="nav-content">
    <a class="active" href="#home">T@sks</a>
    <a href="#about">Dashboard</a>
    <a href="#contact">Projects</a>

    <div class="search">
      <input type="text" name="search" placeholder="Search...">
    </div>
    
  </div>

</div>

<section class="columns-wrapper">

  <div class="row">
      <div class="col-xs-4">
          <div class="box" id="to-do">
            <h3>To Do</h3>
          </div>
      </div>
            <div class="col-xs-4">
          <div class="box" id="in-progress">
            <h3>In Progress</h3>
          </div>
      </div>
            <div class="col-xs-4">
          <div class="box" id="completed">
            <h3>Completed</h3>
          </div>
      </div>
  </div>

</section>



<div class="footer">
  <a href="https://www.flaticon.com/free-icons/project" title="project icons">Project icons created by Freepik - Flaticon</a>
</div>


