{{!-- https://www.w3schools.com/howto/howto_css_signup_form.asp --}}
{{!-- https://www.w3schools.com/howto/howto_css_login_form.asp --}}

<section class="index-section">
  <div class="text-button-div">
    <div class="index-text">
      <h1>Tasks</h1>
      <h3>What will your team accomplish today?</h3>
    </div>
  
    <div class="index-btn-container">

      <button id="register-btn" onclick="location.href='/register';">Sign Up</button>

      <button id="sign-in-btn" onclick="location.href='/login';">Login</button>
    </div>
  </div> 
</section> 

