{{!-- https://www.w3schools.com/howto/howto_css_signup_form.asp --}}
{{!-- https://www.w3schools.com/howto/howto_css_login_form.asp --}}

<section class="index-section">
  <div class="text-button-div">
    <div class="index-text">
      <h1>T@sks</h1>
      <h3>What will your team accomplish today?</h3>
    </div>

    <a href="/register">Register</a>
    <a href="/login">Login</a>

    <div class="index-btn-container">
      <!-- Button to open the modal -->
      <button id="register-btn" onclick="document.getElementById('id01').style.display='block'">Sign Up</button>
      

      <button id="register-btn">Sign Up</button>

      <button id="sign-in-btn">Login</button>
    </div>
  </div> 
</section> 

