 <form id="sign-in-form" class="modal-content animate" action="/login" method="POST">

    <div id="sign-in-container" class="container">
      <h1>Login</h1>
      <hr>
      <label for="uname"><b>Username</b></label>
      <input id="sign-in-username" type="email" class="text" placeholder="Enter Username" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input id="sign-in-password" type="password" class="pass" placeholder="Enter Password" name="password" required>
    </div>

    <div id="sign-in-btn-container" class="clearfix">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" id="sign-in-cancel-btn"
        class="cancelbtn">Cancel</button>
      <button id="sign-in-submit-btn" type="submit" class="signup">Login</button>
    </div>
</div>
</form>