:root {
  --darkest: #555555;
  --darker: #CDC9C3;
  --lighter: #D9E4DD;
  --lightest: #FBF7F0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--lightest);
}

/* https://www.w3schools.com/howto/howto_css_searchbar.asp */

/* Add a black background color to the top navigation bar */
/* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.topnav {
  overflow: hidden;
  background-color: var(--lighter);
  /* position: fixed; Set the navbar to fixed position
  top: 0; Position the navbar at the top of the page
  width: 100%; Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
  justify-content: space-between;
  align-items: baseline;
}

.topnav img {
  float: left;
  padding: 5px 5px 0px 5px;
  margin: auto;
  display: block;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--darker);
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: var(--darkest);
  color: var(--lightest);
}

/* Style the search box inside the navigation bar */
/* .topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin: 10px;
  font-size: 17px;
} */


/* https://www.w3schools.com/howto/howto_css_animated_search.asp */
/* When the input field gets focus, change its width to 100% */
/* .search {
  width: 25%;
} */

.columns-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.col-xs-4 {
  flex: 0 0 calc(33.33333% - 10px);
}

.box {
  background-color: var(--darker);
  margin: 20px 5px;
  text-align: center;
  height: 100vh;
  font-size: 24px;
  border-radius: 10px;
}

.project {
  color: var(--darkest);
  padding: 20px;
}

#to-do {
  margin-left: 20px;
}

#completed {
  margin-right: 20px;
}

.card {
  border: 4px solid var(--darkest);
  background-color: var(--lighter);
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.card h5 {
  color: var(--darkest);
  text-align: start;
  padding: 7px;
  margin-bottom: 5px;
}

p {
  font-size: medium;
  color: var(--darkest);
}

.task-test {
  border: 2px solid var(--darkest);
  background-color: var(--lightest);
  width: 91%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
}

.user-cat {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 5px;
}

.badge {
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 5px 8px;
  text-align: center;
  border-radius: 5px;
  font-size: medium;
}

.footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: var(--lighter);
  color: var(--darkest);
  text-align: center;
}

.footer a {
  color: var(--darkest);
}

/* Bordered form */
form {
  border: 5px solid var(--darkest);
  border-radius: 10px;
}

/* Full-width inputs */
.text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--darkest);
  box-sizing: border-box;
}

.pass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--darkest);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  background-color: var(--darker);
  color: var(--darkest);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* https://www.w3schools.com/howto/howto_css_login_form.asp */
/* Bordered form */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--lighter);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--lightest);
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid var(--darkest);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: var(--darkest);
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: var(--darkest);
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

/* https://www.w3schools.com/howto/howto_css_signup_form.asp */
* {box-sizing: border-box}

/* Full-width input fields */
  /* input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: var(--lightest);
} */

.text {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: var(--lightest);
}

.pass {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: var(--lightest);
}

.text:focus {
  background-color: var(--lighter);
  outline: none;
}

.pass:focus {
  background-color: var(--lighter);
  outline: none;
}

hr {
  border: 1px solid var(--darkest);
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button-login {
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn-login {
  padding: 14px 20px;
  width: auto;
  padding: 10px 18px;
  background-color: var(--lighter);
  color: var(--darkest);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn-login, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.search-class {
  float: right;
  padding: 6px;
  border: none;
  margin: 10px;
  font-size: 17px;
}

.search-class {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search-class:focus {
  width: 30%;
}

.dash-container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto, 1fr;
  grid-template-areas: 
  "user user"
  "proj-list tasks-asgn";
}

#user {
  grid-area: user;
  background-color: var(--darkest);
  grid-column: 1 / 3;
  text-align: center;
  padding: 10px;
  color: var(--lightest); 
}

#proj-list {
  grid-area: proj-list;
  background-color: var(--darker);
  /* height: 100vh; */
  border-radius: 10px;
  margin-left: 20px;
}

#tasks-asgn {
  grid-area: tasks-asgn;
  background-color: var(--darker);
  /* height: 100vh; */
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-container h3 {
  padding: 10px;
  color: var(--darkest);
}

.proj-card {
  border: 4px solid var(--darkest);
  background-color: var(--lighter);
  color: var(--darkest);
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  width: 90%;
}

.task-type-container {
  background-color: var(--lightest);
  border-radius: 10px;
  border: 4px solid var(--darkest);
  width: 90%;
  color: var(--darkest);
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
}

.task-type-container h4 {
  padding: 10px;
}

.task-card-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.task-card {
  padding: 10px;
  border: 4px solid var(--darkest);
  border-radius: 10px;
  width: 50%;
  background-color: var(--lighter);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.task-card h5 {
  padding-bottom: 5px;
}

#task-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#plus:hover {
  cursor: pointer;
}

/* Modal content */
#task-modal-content {
  background-color: var(--lightest);
  margin: auto;
  padding: 20px 0px;
  /* border: 1px solid #888; */
}

/* Close button */
.close {
  color: var(--lightest);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--darkest);
  text-decoration: none;
  cursor: pointer;
}

#cancel-task-btn{
background-color: var(--darker);
color: var(--darkest);
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 20%;
}

#submit-task-button {
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

/* https://www.w3schools.com/howto/howto_js_dropdown.asp */
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}