<div class="topnav">
  <div class="nav-img">
      <img src="images/plus.png" alt="plus sign" height="30px">
  </div>

  <div class="nav-content">
    <a class="active" href="#home">T@sks</a>
    <a href="#about">Dashboard</a>
    <a href="#contact">Projects</a>

    <div class="search">
      <input type="text" name="search" placeholder="Search...">
    </div>
    
  </div>

</div>

{{!-- https://www.w3schools.com/howto/howto_css_badge.asp --}}
<section class="columns-wrapper">

  <div class="row">
      <div class="col-xs-4">
          <div class="box" id="to-do">
            <h3>To Do</h3>

              <div class="card">
                <h5>Task Title</h5> 
                <p class="task-test">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class ="user-cat">
                  <span class="badge">Category</span>
                  <span class="badge">User Assigned</span>
                </div>
              </div>

          </div>
      </div>
            <div class="col-xs-4">
          <div class="box" id="in-progress">
            <h3>In Progress</h3>

              <div class="card">
                <h5>Task Title</h5> 
                <p class="task-test">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class ="user-cat">
                  <span class="badge">Category</span>
                  <span class="badge">User Assigned</span>
                </div>
              </div>

          </div>
      </div>
            <div class="col-xs-4">
          <div class="box" id="completed">
            <h3>Completed</h3>

              <div class="card">
                <h5>Task Title</h5> 
                <p class="task-test">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class ="user-cat">
                  <span class="badge">Category</span>
                  <span class="badge">User Assigned</span>
                </div>
              </div>

          </div>
      </div>
  </div>

</section>



<div class="footer">
  <a href="https://www.flaticon.com/free-icons/project" title="project icons">Project icons created by Freepik - Flaticon</a>
</div>


